<?xml version="1.0"?>
<launch>
    <rosparam file="$(find noah_behaviour)/config/environment.yaml" command="load" />

    <!-- Launch the node for communication with PCB -->
    <include file="$(find noah_drivers)/launch/drivers_node.launch"/>

    <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors" output="screen">
        <remap from="lwheel_vtarget" to="/motor_left_speed"/>
        <remap from="rwheel_vtarget" to="/motor_right_speed"/>
        <remap from="twist" to="cmd_vel"/>
        <rosparam param="base_width">0.16</rosparam>
        <rosparam param="rate">25</rosparam>
    </node>

</launch>