<?xml version="1.0"?>
<launch>
    <rosparam file="$(find noah_behaviour)/config/environment.yaml" command="load" />

    <!-- Launch the node for communication with PCB -->
    <include file="$(find noah_drivers)/launch/drivers_node.launch"/>

    <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors" output="screen">
        <remap from="lwheel_vtarget" to="/motor_left_speed"/>
        <remap from="rwheel_vtarget" to="/motor_right_speed"/>
        <remap from="twist" to="cmd_vel"/>
        <rosparam param="base_width">0.16</rosparam>
        <rosparam param="rate">25</rosparam>
    </node>

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="head_camera" />
        <param name="io_method" value="mmap"/>
        <param name="autofocus" value="true"/>
    </node>
</launch>